:root {
    --bg-color: #181818;
    --bg-color-muted: #282828;

    --font-family-monospace: "Fira Mono", monospace;
    --text-color: #d8d8d8;
    --text-color-muted: #585858;
    --text-selected-color: #f7ca88;

    --title-bg-color: #8da16f;
    --title-text-color: #1a1a1a;

    --login-bg-color: #a66767;
    --login-bg-color-hover: #bf7979;

    --execute-bg-color: #5b7a8a;
    --execute-bg-color-hover: #6b8a99;

    --comment-color: #757575;
    --string-color: #8da16f;
    --number-color: #a66767;
    --keyword-color: #83a3b3;
    --variable-color: #d4d4d4;
    --def-color: #c6a57e;
    --meta-color: #a66767;

    --border-width: 1px;

    --navbar-tilte-size: 18px;
}

::selection {
    background-color: var(--text-selected-color);
}

html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: var(--bg-color-muted);
}

h3 {
    background-color: var(--title-bg-color); 
    color: var(--title-text-color);            
    padding: 4px 12px;
    margin-right: 15px;
}

body {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-muted);
    color: var(--text-color);
    font-family: var(--font-family-monospace);
    font-size: 14px;
    box-sizing: border-box;
}

.panel {
    padding: 15px;
    border-right: var(--border-width) solid #333;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.panel:last-child {
    border-right: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 98%;
    background-color: var(--bg-color);
    padding: 8px;
    color: var(--text-color);
    font-family: var(--font-family-monospace);
    font-size: var(--navbar-title-size);
}

.navbar-item {
    cursor: pointer;
    padding: 4px 12px;
    margin-right: 15px;
}

.login {
    background-color: var(--login-bg-color);
}

.login:hover {
    background-color: var(--login-bg-color-hover);
}

.problem-list {
    width: 25%;
    padding: 15px;
}

.problem-item {
    padding: 8px;
    cursor: pointer;
    border: 1px solid var(--bg-color);
}

.problem-item:hover {
    background-color: var(--bg-color); 
}

.problem-item::before {
    content: "#";
    color: var(--text-color-muted);
    margin-right: 8px;
}

.problem-details {
    width: 25%;
}

.code-space-container {
    width: 50%;
}

.code-space {
    height: 50%;
}

.CodeMirror {
    height: 100% !important;
}

.CodeMirror, .CodeMirror-gutters {
    background-color: var(--bg-color) !important;
}

.cm-s-material-palenight span.cm-comment   { color: var(--comment-color) !important; font-style: italic; }
.cm-s-material-palenight span.cm-string    { color: var(--string-color) !important; }
.cm-s-material-palenight span.cm-number    { color: var(--number-color) !important; }
.cm-s-material-palenight span.cm-keyword   { color: var(--keyword-color) !important; }
.cm-s-material-palenight span.cm-variable  { color: var(--variable-color) !important; }
.cm-s-material-palenight span.cm-def       { color: var(--def-color) !important; }
.cm-s-material-palenight span.cm-meta      { color: var(--meta-color) !important; font-weight: bold;}

.btn-container {
    align-items: center;
}

#execute-btn {
    width: 96.5%;
    text-align: center;
    padding: 4px 12px;
    /*margin-right: 15px;*/
    background-color: var(--execute-bg-color);
    cursor: pointer;
}

#execute-btn:hover {
    background-color: var(--execute-bg-color-hover);
}

#output {
    flex-grow: 1;
    background-color: var(--bg-color);
    padding: 8px;
    color: var(--string-color);
}

.output-default {
    color: var(--string-color);
}

.output-error {
    color: var(--number-color);
}