:root {
    --navbar-tilte-size: 18px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 98%;
    background-color: var(--bg-color);
    padding: 8px;
    color: var(--text-color);
    font-family: var(--font-family-monospace);
    font-size: var(--navbar-title-size);
}

.navbar-item {
    cursor: pointer;
    padding: 4px 12px;
    margin-right: 15px;
}

.login {
    background-color: var(--login-bg-color);
}

.login:hover {
    background-color: var(--login-bg-color-hover);
}