.problem-list {
    width: 25%;
    padding: 15px;
}

.problem-item {
    padding: 8px;
    cursor: pointer;
    border: 1px solid var(--bg-color);
}

.problem-item:hover {
    background-color: var(--bg-color); 
}

.problem-item::before {
    content: "#";
    color: var(--text-color-muted);
    margin-right: 8px;
}