<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Terminal Code Runner v1.0</title>

    <link rel="stylesheet" href="{{ "css/colors-n-font.css" | relURL }}" type="text/css">
    <link rel="stylesheet" href="{{ "css/navbar.css" | relURL }}" type="text/css">
    <link rel="stylesheet" href="{{ "css/code-space.css" | relURL }}" type="text/css">
    <link rel="stylesheet" href="{{ "css/default.css" | relURL }}" type="text/css">
    <link rel="stylesheet" href="{{ "css/problem-details.css" | relURL }}" type="text/css">
    <link rel="stylesheet" href="{{ "css/problem-list.css" | relURL }}" type="text/css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material-palenight.min.css">

    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script language="javascript" type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.2/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/closebrackets.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</header>

<body>