{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "main-container" . }}
    {{ partial "problem-list.html" . }}
    <div class="panel problem-details" code_space="" problem_id="index">
        <h3>_DETAILS</h3>
        <p><strong>Problem:</strong> 001_TwoSum</p>
        <p>Given an array of integers <code>nums</code> and an integer <code>target</code>, return indices of the two numbers such that they add up to target.</p>
        <p><em>Constraints:</em><br> - O(n) Time complexity preferred.<br> - Use standard I/O.</p>
    </div>
    {{ partial "code-space.html" . }}
{{ partial "footer.html" . }}